In [118]:
import pandas as pd
import numpy as np

df = pd.read_csv(r"../data/class_german_credit.csv", engine="pyarrow")

In [119]:
df

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,67,male,2,own,None,little,1169,6,radio/TV,good
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,49,male,1,own,little,None,2096,12,education,good
3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,53,male,2,free,little,little,4870,24,car,bad
...,...,...,...,...,...,...,...,...,...,...
995,31,female,1,own,little,None,1736,12,furniture/equipment,good
996,40,male,3,own,little,little,3857,30,car,good
997,38,male,2,own,little,None,804,12,radio/TV,good
998,23,male,2,free,little,little,1845,45,radio/TV,bad
999,27,male,2,own,moderate,moderate,4576,45,car,good

# Pré-processamento dos dados

### Limpeza de dados

#### Remoção de linhas com missing data

In [120]:
df.drop('Checking account',
  axis='columns', inplace=True)

# posso fazer isso aqui?

In [121]:
df.dropna(axis=0,inplace= True)

In [122]:
df

,Age,Sex,Job,Housing,Saving accounts,Credit amount,Duration,Purpose,Risk
1,22,female,2,own,little,5951,48,radio/TV,bad
2,49,male,1,own,little,2096,12,education,good
3,45,male,2,free,little,7882,42,furniture/equipment,good
4,53,male,2,free,little,4870,24,car,bad
6,53,male,2,own,quite rich,2835,24,furniture/equipment,good
...,...,...,...,...,...,...,...,...,...
995,31,female,1,own,little,1736,12,furniture/equipment,good
996,40,male,3,own,little,3857,30,car,good
997,38,male,2,own,little,804,12,radio/TV,good
998,23,male,2,free,little,1845,45,radio/TV,bad
999,27,male,2,own,moderate,4576,45,car,good

#### Remoção de outliers

In [123]:
# Q1 = df['Credit amount'].quantile(0.25) # Primeiro quartil
# Q2 = df['Credit amount'].quantile(0.50) # Segundo quartil 
# Q3 = df['Credit amount'].quantile(0.75) # Terceiro quartil
# print(f"Q1: {Q1}")
# print(f"Q2: {Q2}")
# print(f"Q3: {Q3}\n")
# print(df['Credit amount'].median())

# df = df[df['Credit amount'] < Q3 + 1.5 * (Q3-Q1)]
# df

### Normalização e Trasformação

#### Encoding ordinal

In [124]:
mapeamento = {'little': 0, 'moderate': 1, 'quite rich':2, 'rich':3 }

df['Saving accounts'] = df['Saving accounts'].map(mapeamento)

In [125]:
mapeamento = {'good': 0, 'bad': 1}

df['Risk'] = df['Risk'].map(mapeamento)

In [126]:
df

,Age,Sex,Job,Housing,Saving accounts,Credit amount,Duration,Purpose,Risk
1,22,female,2,own,0,5951,48,radio/TV,1
2,49,male,1,own,0,2096,12,education,0
3,45,male,2,free,0,7882,42,furniture/equipment,0
4,53,male,2,free,0,4870,24,car,1
6,53,male,2,own,2,2835,24,furniture/equipment,0
...,...,...,...,...,...,...,...,...,...
995,31,female,1,own,0,1736,12,furniture/equipment,0
996,40,male,3,own,0,3857,30,car,0
997,38,male,2,own,0,804,12,radio/TV,0
998,23,male,2,free,0,1845,45,radio/TV,1
999,27,male,2,own,1,4576,45,car,0

#### One hot encoding

In [127]:
df = pd.get_dummies(df)

In [128]:
df

,Age,Job,Saving accounts,Credit amount,Duration,Risk,Sex_female,Sex_male,Housing_free,Housing_own,Housing_rent,Purpose_business,Purpose_car,Purpose_domestic appliances,Purpose_education,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others
1,22,2,0,5951,48,1,True,False,False,True,False,False,False,False,False,False,True,False,False
2,49,1,0,2096,12,0,False,True,False,True,False,False,False,False,True,False,False,False,False
3,45,2,0,7882,42,0,False,True,True,False,False,False,False,False,False,True,False,False,False
4,53,2,0,4870,24,1,False,True,True,False,False,False,True,False,False,False,False,False,False
6,53,2,2,2835,24,0,False,True,False,True,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,31,1,0,1736,12,0,True,False,False,True,False,False,False,False,False,True,False,False,False
996,40,3,0,3857,30,0,False,True,False,True,False,False,True,False,False,False,False,False,False
997,38,2,0,804,12,0,False,True,False,True,False,False,False,False,False,False,True,False,False
998,23,2,0,1845,45,1,False,True,True,False,False,False,False,False,False,False,True,False,False
999,27,2,1,4576,45,0,False,True,False,True,False,False,True,False,False,False,False,False,False

### Discretização

### Finalização

In [129]:
X = df.drop(columns=['Risk'])
y = df['Risk']

X.to_csv("../data/df_X.csv", index=False)
y.to_csv('../data/df_y.csv', index=False)